@charset "UTF-8";
#outer-container {
	display: table;
	width: 100%;
	height: 100%;
}

#sidebar {
	display: table-cell;
	width: 15%;
	vertical-align: top;
	border:3px;
	border-color:black;
	background-color: #FFFFF0;
}

#content {
	display: table-cell;
	width: 85%;
	vertical-align: top;
}

nav {
	background-color: red;
}
nav #logo {
	color: white;
	padding: 15px;
}
html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}