@charset "UTF-8";
table{
    color:whitesmoke;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    margin-left:220px;
    width:980px;
    height:200px;
    border-color: cornflowerblue;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
  }
table td, table th{
    border: 2px solid #d1d0bd;
    color: #55232d;
    width: 100px;
    height: 50px;
}
table thead td{
    background-color: #CCE8EB;
    color: black;
    width: 100px;
}
table tr:nth-child(odd){
    background: #fff;
}
table tr:nth-child(even){
    background: #F5FAFA;
    }
    
  .heure{
    background-color: #f3fae3;
    color:black;
  }
  
  .course{
    background-color: #f5f3f4;
  }
  .head{
    background-color: #859d95;
  }
 h2 {
 	color:#84676c; 
 	text-align:center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3{
	color:#b5999e; 
	font: italic normal 20px Times New Roman;
}

  