<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>ProjetAppel</display-name>

	<!--Faire matcher les servlets -->
	<servlet>
		<servlet-name>accueil</servlet-name>
		<jsp-file>/Scolarite/AcceuilScolarite.jsp</jsp-file>
	</servlet>

<servlet>
		<servlet-name>AcceuilEtudiant</servlet-name>
		<jsp-file>/Etudiant/AcceuilEtudiant.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>verifJustif</servlet-name>
		<jsp-file>/Scolarite/VerifJustificatif.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>modifierprofil</servlet-name>
		<jsp-file>/Etudiant/ModifProfil.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>consulterAbs</servlet-name>
		<jsp-file>/Etudiant/ConsultAbs.jsp</jsp-file>
	</servlet>

	<!-- Donner un alias -->
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/Accueil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcceuilEtudiant</servlet-name>
		<url-pattern>/AcceuilEtudiant</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>verifJustif</servlet-name>
		<url-pattern>/Verification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>consulterAbs</servlet-name>
		<url-pattern>/consulterAbs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>modifierprofil</servlet-name>
		<url-pattern>/modifierprofil</url-pattern>
	</servlet-mapping>

	<!-- -->
	<welcome-file-list>
		<welcome-file>Accueil</welcome-file>
	</welcome-file-list>

</web-app>
  